
    <div class="left">
      <img class="poster" src="<%= @movie["Poster"] %>" alt="">
    </div>
    <div class="right">
      <div>
        Title: <%= @movie["Title"] %>
      </div>
      <div>
        Year: <%= @movie["Year"] %>
      </div>
      <div>
        Rated: <%= @movie["Rated"] %>
      </div>
      <div>
        Released: <%= @movie["Released"] %>
      </div>
      <div>
        Runtime: <%= @movie["Runtime"] %>
      </div>
      <div>
        Genre: <%= @movie["Genre"] %>
      </div>
      <div>
        Director: <%= @movie["Director"] %>
      </div>
      <div>
        Writer: <%= @movie["Writer"] %>
      </div>
      <div>
        Actors: <%= @movie["Actors"] %>
      </div>
      <div>
        Plot: <%= @movie["Plot"] %>
      </div>
    </div>
