
    <div class="left">
      <img class="poster" src="<%= @movie.poster_url %>" alt="">
    </div>
    <div class="right">
      <div>
        Title: <%= @movie.title %>
      </div>
      <div>
        Year: <%= @movie.year %>
      </div>
      <div>
        Rated: <%= @movie.rated %>
      </div>
      <div>
        Released: <%= @movie.released %>
      </div>
      <div>
        Runtime: <%= @movie.runtime %>
      </div>
      <div>
        Genre: <%= @movie.genre %>
      </div>
      <div>
        Director: <%= @movie.director %>
      </div>
      <div>
        Writer: <%= @movie.writer %>
      </div>
      <div>
        Actors: <%= @movie.actors %>
      </div>
      <div>
        Plot: <%= @movie.plot %>
      </div>
    </div>
