
  <div class="left">
    <img class="poster" src="<%= @result["Poster"] %>" alt="">
  </div>

  <div class="right">
    <div>
      Title: <%= @result["Title"] %>
    </div>
    <div>
      Year: <%= @result["Year"] %>
    </div>
    <div>
      Rated: <%= @result["Rated"] %>
    </div>
    <div>
      Released: <%= @result["Released"] %>
    </div>
    <div>
      Runtime: <%= @result["Runtime"] %>
    </div>
    <div>
      Genre: <%= @result["Genre"] %>
    </div>
    <div>
      Director: <%= @result["Director"] %>
    </div>
    <div>
      Writer: <%= @result["Writer"] %>
    </div>
    <div>
      Actors: <%= @result["Actors"] %>
    </div>
    <div>
      Plot: <%= @result["Plot"] %>
    </div>
  </div>
